image:
  repository: bitnamilegacy/keycloak
  tag: 22.0.4-debian-11-r1

auth:
  adminUser: admin
  adminPassword: admin

command:
  - /opt/bitnami/keycloak/bin/kc.sh
args:
  - start-dev

extraEnvVars:
  - name: KC_HTTP_ENABLED
    value: "true"
  - name: KC_HOSTNAME_STRICT
    value: "false"
  - name: KC_PROXY
    value: "edge"

service:
  ports:
    http: 8080

resources:
  requests:
    cpu: 250m
    memory: 512Mi
  limits:
    cpu: 1
    memory: 1Gi

postgresql:
  enabled: true
  auth:
    username: keycloak
    password: keycloak
    database: keycloak
  image:
    repository: bitnamilegacy/postgresql

#helm install -f .\values-my.yaml keycloak . -n keycloak --create-namespace
#helm install keycloak bitnami/keycloak --namespace keycloak --create-namespace -f values.yaml